extends ../layout.pug 

block append head 
  title Template site

block content
  #home.content
    h1 Hello World!
    p I made this template repo to make pug development easier and more fun, saving you the hassle of setting up a repo. Delete this stuff here and get started! :)
    p - <a href="https://github.com/obsidianical">Gabriel</a>
