extends ../layout.pug 

block append head 
  title Boilerplate Main site

block content
  #home.content
    h1 Hello World!
    p This is some example content!
    p.
      Laborum aliquip nisi sit voluptate incididunt ipsum ea enim dolor tempor ullamco in. Irure laborum laboris pariatur enim cillum nulla. Proident esse fugiat laboris nisi dolore est aliqua reprehenderit mollit. Amet tempor et eu eu labore ad pariatur in aute qui laboris anim minim. Duis incididunt irure duis est. Aliquip adipisicing laboris elit id. Velit aute ipsum veniam commodo in.