html, body
  margin: 0
  padding: 0

main
  color: #ebdbb2
  font-family: 'Montserrat', sans-serif
  background-color: #282828
  height: 100vh
  padding: 2rem
  h1
    font-size: 2rem
    margin-bottom: 1rem
  p
    font-size: 1.25rem
    line-height: 1.45rem
    margin-bottom: 1rem
  a
    text-decoration: none
    color: #458588
    &:hover
      text-decoration: underline
    &:visited
      color: #076678
